<html>


<h1><font size="7"><b>hello everyone this essay is of how I spent my summer vacation </b></font></h1>
<font size="5">
<p> My favourite season is summer season. I ate mango and drank mango juice. I played cricket with my friends. I viseted many place like akalkot pandharpur. and jejuri in my summer vaccation
</p>

<p>I went to zoo and saw many animals. and went grandma's house. I played with my brother in my house. I went to restaurant with my family. 
</p>

<p>
I wanted to go in school. I enjoy my summer vaccation very much. 



</p>

<font>


<html>
